/* *************** */
/* Global settings */
/* *************** */

/* Standard colors */
:root {
  --bg-dark: #830222;
  --bg-light: #fff7ee;
  --clr-dark: #002657;
  --clr-neutral-dark: #585197;
  --clr-light: #ffffff;
  --clr-neutral-light: #d3d3f5;
}

/* Structural elements */

body {
  margin: 0;
  background-color: var(--bg-light);
  color: var(--clr-dark);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  background-color: var(--bg-dark);
  box-shadow: inset 0 0 40px 1px #000000a0;
  color: var(--clr-light);
  padding: 1rem;
  h1 {
    text-shadow: 0.2rem 0 0.5rem #00000080;
  }
}

nav {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding-right: 1rem;
}
nav a {
  display: block;
  box-shadow: 0 0 1rem 0 #00000040;
  margin: 0;
  border-radius: 0.5rem;
  min-width: 4rem;
  padding: 0.5rem;
  background-color: var(--bg-dark);
  text-align: center;
  color: var(--clr-light);
  text-decoration: none;
  font-weight: bold;
}
nav a:hover {
  background-color: var(--bg-light);
  color: var(--clr-dark);
  transition: all 0.3s ease;
}

section {
  position: relative;
  padding: 2rem;
  background-color: var(--bg-light);
}



article {
  max-width: 100rem;
  margin: 0;
  padding-inline: 1rem;
  li {
    margin-block: 0.7rem;
  }
}

footer {
  background-color: var(--bg-dark);
  color: var(--clr-light);
  text-align: center;
  padding: 1rem;
}

/* landmarks */

h1 {
  font-family: "Play";
  font-size: 2.5rem;
}
h2 {
  font-family: "Play";
  font-size: 4rem;
  margin-top: 0;
}
h2::before,
h2::after {
  content: "::";
  color: var(--clr-neutral-dark);
}
h3 {
  margin-top: 0;
}

li {
  list-style-type: none;

}

/* Other site-wide classes */

.dark-section {
  color: var(--clr-light);
  h2 {
    max-width: fit-content;
    padding: 0 10rem 0.5rem 2rem;
    border-radius: 0.5rem;
    background-color: var(--bg-dark);
  }
  h2::before, h2::after {
    color: var(--clr-neutral-light);
  }
  article {
    padding-inline: 2rem;
    padding-block: 1rem;
    background-color: var(--bg-dark);
  }
}
.light-section {
  background-color: var(--bg-light);
  color: var(--clr-dark);
}

.two-col-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 2rem;
}
.three-col-layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  /* gap: 2rem; */
}

.middle-column {
  border-inline: 1px solid var(--clr-neutral-light);

}
/* ****************************** */
/* Specific sections and elements */
/* ****************************** */

#hero-section {
  min-height: 400px;
  color: var(--clr-dark);
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  h2 {
    font-size: 2rem;
  }
  img {
    max-height: 400px;
    opacity: 0.5;
  }
  article {
    font-family: "consolas", monospace;
  }
}



/* Stuff for later, maybe */

/*
aside {
    background-color: var(--bg-dark);
    color: var(--clr-light);
    padding: 1rem;
}

button {
    background-color: var(--bg-dark);
    color: var(--clr-light);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
}

input, textarea, select {
    background-color: var(--bg-light);
    color: var(--clr-dark);
    border: 1px solid var(--clr-neutral-dark);
    padding: 0.5rem;
    border-radius: 4px;
} 
*/